<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825265177541-hqqrpsfiv06911rqv09cf8lv72d9vq0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825265177541-hqqrpsfiv06911rqv09cf8lv72d9vq0b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>825265177541-2lke87u92ro4psrb07iqf2s0fbna3emf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDURR0bhuPEWThpTZIdaSeF7CTiNQMQ6Y8</string>
	<key>GCM_SENDER_ID</key>
	<string>825265177541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterShanto.ecommerceWithBlocAndFirebase</string>
	<key>PROJECT_ID</key>
	<string>bloc-ecommerce-180824</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-ecommerce-180824.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825265177541:ios:cdb60905e8d93ecb5d01ac</string>
</dict>
</plist>